body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #102027;
}


/* HEADER */
h1 {
    margin-bottom: 0;
}

header .container {
    max-width: 720px;
}

header {
    background-color: #37474f;
    color: white;
    height: 80px;
}

header input {
    border-radius: 10px;
    border: none;
    padding: 0 .2rem;
}

header button {
    border-radius: 10px;
    border: none;
    padding: 0 .4rem;
}


/* MAIN */
main .container {
    background-color: #62727b;
    color: white;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem 0;
    max-width: 720px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
 
.cross, .check {
    cursor: pointer;
}

.line {
    width: 100%;
}

span {
    display: block;
}

.text2 {
    text-decoration: line-through;
    color: rgba(255, 255, 255, .6);
}

.title-key{
    cursor: pointer;
}

.d-none{
    display: none;
}


